.cartao{
  border: 1px solid lightgray;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.110);
  border-radius: 10px;
  font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px 30px;
  margin-bottom: 1rem;
}
