.tamanho img{
  max-width: 100px;
  margin: 0 30px;
}
.cartao{
  border: 1px solid lightgray;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.110);
  border-radius: 10px;
  font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px;
  margin-bottom: 1rem;
}
.cartao div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;

}
.cartao div a{
  text-decoration: none;
  font-style: none;
}
