.class1{
  width: 30%;
  border: 10px red solid;
  margin: 10px;
}
.class2{
  width: 30%;
  border: 10px rgb(0, 255, 21) solid;
  margin: 10px;
}
.class3{
  width: 30%;
  border: 10px rgb(48, 97, 189) solid;
  margin: 10px;
}
